[Unit]
Description=StatScape Discord Bot
Requires=docker.service
After=docker.service network.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/statscape
ExecStartPre=/bin/sh -c 'docker info > /dev/null 2>&1'
ExecStart=/opt/statscape/deploy.sh
StandardOutput=journal
StandardError=journal
User=opc
Group=docker

[Install]
WantedBy=multi-user.target
